.top-bar, .top-bar ul{
  background-color: $nav-background;
}

.top-bar{

  p{
    color: $nav-text-color;
  }

  .menu-text{
    color: $nav-text-color;
  }

  .menu > .menu-text > a{
    display: inline;
    padding: 0;
  }

}
